<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Room Categories</title>
</head>
<body>
<form method="post" action="/admin/add-room-category/save" th:object="${newRoomCategory}">

<!--    <input type="hidden" id="id" th:field="${newRoomCategory.id}" name="id">-->
    <input type="hidden" th:field="${newRoomCategory.id}">

    <label>Name</label>
    <input type="text" th:field="${newRoomCategory.name}" required>

    <label>Description</label>
    <input type="text" th:field="${newRoomCategory.description}" required>

    <label>Price per night</label>
    <input type="text" th:field="${newRoomCategory.pricePerNight}" required>


    <button type="submit">
        Save
    </button>
</form>
</body>
</html>

