<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Room Category</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill text-center">
        <div class="container">
            <div class="jumbotron">
<form method="post" action="/admin/edit-room-category/save" th:object="${editedRoomCategory}">

    <!--    <input type="hidden" id="id" th:field="${newRoomCategory.id}" name="id">-->
    <input type="hidden" th:field="${editedRoomCategory.id}">

    <label>Name</label>
    <input type="text" th:field="${editedRoomCategory.name}" required>

    <label>Description</label>
    <input type="text" th:field="${editedRoomCategory.description}" required>

    <label>Price per night</label>
    <input type="text" th:field="${editedRoomCategory.pricePerNight}" required>


    <button type="submit">
        Save
    </button>
</form>
            </div>
        </div>
    </main>
    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>