<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Room Categories</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price per night</th>
            <th>
                <a th:href="'/admin/add-room-category/'">Add room category</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="roomCategory: ${roomCategory}">
            <td th:text="${roomCategory.name}"></td>
            <td th:text="${roomCategory.description}"></td>
            <td th:text="${roomCategory.pricePerNight}"></td>
            <td>
                <!-- Button edit -->
                <a th:href="'/admin/edit-room-category/' + ${roomCategory.id}">Edit</a>
                <!-- Button delete -->
                <a th:href="'/admin/delete-room-category/' + ${roomCategory.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>