<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>KEAlifornia Check-out</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill text-center">
        <div class="container">
            <div class="jumbotron">
                <h2 class="display-4">Check-out rooms</h2>
                <form method="post" action="/admin/check-out/guest/save">
                <select class="form-control mb-4" name="selectedGuest">
                    <option th:each="occupancy: ${occupancies}" th:value="${occupancy.getGuest().getId()}">
                        <span th:text="${occupancy.getGuest().getFirstName()} + ' ' + ${occupancy.getGuest().getLastName()}"></span>
                    </option>
                </select>
                    <button type="submit">Check-out</button>
                </form>
            </div>

        </div>
    </main>
    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>