<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Hotel KEAlifornia</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill text-center">
        <div class="container">
            <div class="jumbotron">
                <form action="/rooms" method="post">
                    <h1 class="display-4">Add room(s)</h1>
                    <p>Selected period: <span th:text="${booking.getCheckIn()} + ' - ' + ${booking.getCheckOut()}"></span></p>
                    <th:block th:if="${booking.getBookedRooms().isEmpty()}">
                        <p>You have no rooms booked yet.</p>
                    </th:block>
                    <th:block th:unless="${booking.getBookedRooms().isEmpty()}">
                        <p>You have so far booked:</p>
                        <th:block th:each="entry:${booking.getBookedRooms().entrySet()}">
                            <p th:if="${entry.getValue() == 1}"
                               th:text="'- One ' + ${roomcatrepo.findRoomCategoryById(entry.getKey()).getName()}"></p>
                            <p th:unless="${entry.getValue() == 1}"
                               th:text="'- ' + ${entry.getValue()} + ' ' +
                                ${roomcatrepo.findRoomCategoryById(entry.getKey()).getName()} + 's'"></p>
                        </th:block>

                    </th:block>
                    <input type="hidden" th:object="${booking}">
                    <select class="form-control" name="roomtype" required>
                        <option th:each="cat:${roomcatrepo.getAllRoomCategories()}" th:text="${cat.getName()} + ': ' +
                         ${cat.getPricePerNight()} / 100 + ' DKK'" th:value="${cat.getId()}"></option>
                    </select>
                    <p>Number of rooms:</p>
                    <input type="number" step="1" min="1" name="norooms">
                    <button class="btn btn-secondary" type="submit" name="action" value="add">Add</button>
                    <button class="btn btn-danger" type="submit" name="action" value="reset">Reset</button>
                    <button class="btn btn-primary" type="submit" name="action" value="done">Done</button>
                    <div th:if="${error}" class="alert"><p th:if="${error.equals('invalid')}">Invalid input</p></div>
                </form>
            </div>
        </div>
    </main>
    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>