<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Welcome to KEAlifornia</title>
    <link th:replace="fragments :: bootstrap_head">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to KEAlifornia</h1>

            </div>
        </div>
      <form th:action="'/manager/room'" method="post" align="center">
        <div class="container">
            <label for="roomNumber">Room number</label>
            <input type="text" class="form-control" id="roomNumber" name="getRoomNumber" placeholder="Room number"
                   required>
        </div>
          <button class="btn btn-primary" type="submit">Search</button>
      </form>
        <a class="btn btn-primary mb-3" th:href="'/manager/rooms/add'">Add new room</a>
    </main>
    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>

<style>
    form {
        margin: 0 auto;
        width:400px;
    }

    button {
        margin-top:0.5em;
    }
</style>

